MVCFinal/Service References/Maps/ServicioEvento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioEvento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2115/ServicioEvento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2115/ServicioEvento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2115/ServicioEvento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioEvento_AltaLugar_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaLugar" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaLugar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaLugarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ModificarLugar_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarLugar" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ModificarLugar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarLugarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarLugar_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarLugar" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarLugar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarLugarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BajaLugar_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaLugar" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BajaLugar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaLugarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarLugares_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarLugares" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarLugares_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarLugaresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarLugaresDisponibles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarLugaresDisponibles" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarLugaresDisponibles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarLugaresDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarLugaresCiudad_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarLugaresCiudad" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarLugaresCiudad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarLugaresCiudadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarMapaLugar_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMapaLugar" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarMapaLugar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMapaLugarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaArea_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaArea" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ModificarArea_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarArea" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ModificarArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarArea_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarArea" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarAreaPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAreaPorNombre" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarAreaPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAreaPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaPuntodeArea_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaPuntodeArea" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaPuntodeArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaPuntodeAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BajaArea_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaArea" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BajaArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarAreasDeMapa_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAreasDeMapa" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarAreasDeMapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAreasDeMapaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarPuntosDeUnArea_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPuntosDeUnArea" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarPuntosDeUnArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPuntosDeUnAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaAlquiler_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaAlquiler" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaAlquiler_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaAlquilerResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BajaAlquiler_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaAlquiler" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BajaAlquiler_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaAlquilerResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarAlquiler_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAlquiler" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarAlquiler_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAlquilerResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarAlquileres_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlquileres" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarAlquileres_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlquileresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarAlquileresArea_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlquileresArea" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarAlquileresArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlquileresAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarAlquileresOrganizador_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlquileresOrganizador" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarAlquileresOrganizador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlquileresOrganizadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaMapa_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaMapa" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaMapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaMapaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ModificarMapa_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarMapa" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ModificarMapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarMapaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarMapa_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMapa" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarMapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMapaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BajaMapa_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaMapa" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BajaMapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaMapaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ModificarUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ModificarUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_EliminarUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_EliminarUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarPais_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPais" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarCiudad_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCiudad" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarCiudad_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCiudadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarCiudades_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCiudades" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarCiudades_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCiudadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarPais_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPais" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarCiudadesPais_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCiudadesPais" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarCiudadesPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCiudadesPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ModificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ModificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAdmin" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarDueños_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDueños" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarDueños_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDueñosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarOrganizadores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarOrganizadores" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarOrganizadores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarOrganizadoresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientes" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaEvento" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_AltaEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ComprobarEstadoEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:ComprobarEstadoEvento" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ComprobarEstadoEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComprobarEstadoEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BajaEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaEvento" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BajaEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEvento" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_BuscarCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCategorias" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarEventosOrdenFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEventosOrdenFecha" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarEventosOrdenFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEventosOrdenFechaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarEventosOrganizador_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEventosOrganizador" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarEventosOrganizador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEventosOrganizadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarEventosReservados_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEventosReservados" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarEventosReservados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEventosReservadosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarEventosxArea_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEventosxArea" />
  </wsdl:message>
  <wsdl:message name="IServicioEvento_ListarEventosxArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEventosxAreaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioEvento">
    <wsdl:operation name="AltaLugar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/AltaLugar" message="tns:IServicioEvento_AltaLugar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/AltaLugarResponse" message="tns:IServicioEvento_AltaLugar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarLugar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ModificarLugar" message="tns:IServicioEvento_ModificarLugar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ModificarLugarResponse" message="tns:IServicioEvento_ModificarLugar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarLugar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BuscarLugar" message="tns:IServicioEvento_BuscarLugar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BuscarLugarResponse" message="tns:IServicioEvento_BuscarLugar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaLugar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BajaLugar" message="tns:IServicioEvento_BajaLugar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BajaLugarResponse" message="tns:IServicioEvento_BajaLugar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarLugares">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarLugares" message="tns:IServicioEvento_ListarLugares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarLugaresResponse" message="tns:IServicioEvento_ListarLugares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarLugaresDisponibles">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarLugaresDisponibles" message="tns:IServicioEvento_ListarLugaresDisponibles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarLugaresDisponiblesResponse" message="tns:IServicioEvento_ListarLugaresDisponibles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarLugaresCiudad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarLugaresCiudad" message="tns:IServicioEvento_ListarLugaresCiudad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarLugaresCiudadResponse" message="tns:IServicioEvento_ListarLugaresCiudad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMapaLugar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BuscarMapaLugar" message="tns:IServicioEvento_BuscarMapaLugar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BuscarMapaLugarResponse" message="tns:IServicioEvento_BuscarMapaLugar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/AltaArea" message="tns:IServicioEvento_AltaArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/AltaAreaResponse" message="tns:IServicioEvento_AltaArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ModificarArea" message="tns:IServicioEvento_ModificarArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ModificarAreaResponse" message="tns:IServicioEvento_ModificarArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BuscarArea" message="tns:IServicioEvento_BuscarArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BuscarAreaResponse" message="tns:IServicioEvento_BuscarArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAreaPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BuscarAreaPorNombre" message="tns:IServicioEvento_BuscarAreaPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BuscarAreaPorNombreResponse" message="tns:IServicioEvento_BuscarAreaPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaPuntodeArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/AltaPuntodeArea" message="tns:IServicioEvento_AltaPuntodeArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/AltaPuntodeAreaResponse" message="tns:IServicioEvento_AltaPuntodeArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BajaArea" message="tns:IServicioEvento_BajaArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BajaAreaResponse" message="tns:IServicioEvento_BajaArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAreasDeMapa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarAreasDeMapa" message="tns:IServicioEvento_ListarAreasDeMapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarAreasDeMapaResponse" message="tns:IServicioEvento_ListarAreasDeMapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPuntosDeUnArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarPuntosDeUnArea" message="tns:IServicioEvento_ListarPuntosDeUnArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarPuntosDeUnAreaResponse" message="tns:IServicioEvento_ListarPuntosDeUnArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaAlquiler">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/AltaAlquiler" message="tns:IServicioEvento_AltaAlquiler_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/AltaAlquilerResponse" message="tns:IServicioEvento_AltaAlquiler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaAlquiler">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BajaAlquiler" message="tns:IServicioEvento_BajaAlquiler_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BajaAlquilerResponse" message="tns:IServicioEvento_BajaAlquiler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAlquiler">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BuscarAlquiler" message="tns:IServicioEvento_BuscarAlquiler_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BuscarAlquilerResponse" message="tns:IServicioEvento_BuscarAlquiler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAlquileres">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarAlquileres" message="tns:IServicioEvento_ListarAlquileres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarAlquileresResponse" message="tns:IServicioEvento_ListarAlquileres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAlquileresArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarAlquileresArea" message="tns:IServicioEvento_ListarAlquileresArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarAlquileresAreaResponse" message="tns:IServicioEvento_ListarAlquileresArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAlquileresOrganizador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarAlquileresOrganizador" message="tns:IServicioEvento_ListarAlquileresOrganizador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarAlquileresOrganizadorResponse" message="tns:IServicioEvento_ListarAlquileresOrganizador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaMapa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/AltaMapa" message="tns:IServicioEvento_AltaMapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/AltaMapaResponse" message="tns:IServicioEvento_AltaMapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarMapa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ModificarMapa" message="tns:IServicioEvento_ModificarMapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ModificarMapaResponse" message="tns:IServicioEvento_ModificarMapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMapa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BuscarMapa" message="tns:IServicioEvento_BuscarMapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BuscarMapaResponse" message="tns:IServicioEvento_BuscarMapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaMapa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BajaMapa" message="tns:IServicioEvento_BajaMapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BajaMapaResponse" message="tns:IServicioEvento_BajaMapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/AltaUbicacion" message="tns:IServicioEvento_AltaUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/AltaUbicacionResponse" message="tns:IServicioEvento_AltaUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ModificarUbicacion" message="tns:IServicioEvento_ModificarUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ModificarUbicacionResponse" message="tns:IServicioEvento_ModificarUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/EliminarUbicacion" message="tns:IServicioEvento_EliminarUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/EliminarUbicacionResponse" message="tns:IServicioEvento_EliminarUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BuscarPais" message="tns:IServicioEvento_BuscarPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BuscarPaisResponse" message="tns:IServicioEvento_BuscarPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCiudad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BuscarCiudad" message="tns:IServicioEvento_BuscarCiudad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BuscarCiudadResponse" message="tns:IServicioEvento_BuscarCiudad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCiudades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarCiudades" message="tns:IServicioEvento_ListarCiudades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarCiudadesResponse" message="tns:IServicioEvento_ListarCiudades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarPais" message="tns:IServicioEvento_ListarPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarPaisResponse" message="tns:IServicioEvento_ListarPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCiudadesPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarCiudadesPais" message="tns:IServicioEvento_ListarCiudadesPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarCiudadesPaisResponse" message="tns:IServicioEvento_ListarCiudadesPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/AltaUsuario" message="tns:IServicioEvento_AltaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/AltaUsuarioResponse" message="tns:IServicioEvento_AltaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ModificarUsuario" message="tns:IServicioEvento_ModificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ModificarUsuarioResponse" message="tns:IServicioEvento_ModificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/EliminarUsuario" message="tns:IServicioEvento_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/EliminarUsuarioResponse" message="tns:IServicioEvento_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BuscarUsuario" message="tns:IServicioEvento_BuscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BuscarUsuarioResponse" message="tns:IServicioEvento_BuscarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/Login" message="tns:IServicioEvento_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/LoginResponse" message="tns:IServicioEvento_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarAdmin" message="tns:IServicioEvento_ListarAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarAdminResponse" message="tns:IServicioEvento_ListarAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarDueños">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarDueños" message="tns:IServicioEvento_ListarDueños_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarDueñosResponse" message="tns:IServicioEvento_ListarDueños_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarOrganizadores">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarOrganizadores" message="tns:IServicioEvento_ListarOrganizadores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarOrganizadoresResponse" message="tns:IServicioEvento_ListarOrganizadores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarClientes" message="tns:IServicioEvento_ListarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarClientesResponse" message="tns:IServicioEvento_ListarClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/AltaEvento" message="tns:IServicioEvento_AltaEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/AltaEventoResponse" message="tns:IServicioEvento_AltaEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComprobarEstadoEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ComprobarEstadoEvento" message="tns:IServicioEvento_ComprobarEstadoEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ComprobarEstadoEventoResponse" message="tns:IServicioEvento_ComprobarEstadoEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BajaEvento" message="tns:IServicioEvento_BajaEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BajaEventoResponse" message="tns:IServicioEvento_BajaEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BuscarEvento" message="tns:IServicioEvento_BuscarEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BuscarEventoResponse" message="tns:IServicioEvento_BuscarEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/BuscarCategoria" message="tns:IServicioEvento_BuscarCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/BuscarCategoriaResponse" message="tns:IServicioEvento_BuscarCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarCategorias" message="tns:IServicioEvento_ListarCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarCategoriasResponse" message="tns:IServicioEvento_ListarCategorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEventosOrdenFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarEventosOrdenFecha" message="tns:IServicioEvento_ListarEventosOrdenFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarEventosOrdenFechaResponse" message="tns:IServicioEvento_ListarEventosOrdenFecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEventosOrganizador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarEventosOrganizador" message="tns:IServicioEvento_ListarEventosOrganizador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarEventosOrganizadorResponse" message="tns:IServicioEvento_ListarEventosOrganizador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEventosReservados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarEventosReservados" message="tns:IServicioEvento_ListarEventosReservados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarEventosReservadosResponse" message="tns:IServicioEvento_ListarEventosReservados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEventosxArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvento/ListarEventosxArea" message="tns:IServicioEvento_ListarEventosxArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvento/ListarEventosxAreaResponse" message="tns:IServicioEvento_ListarEventosxArea_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioEvento" type="tns:IServicioEvento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaLugar">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/AltaLugar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarLugar">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ModificarLugar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarLugar">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BuscarLugar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaLugar">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BajaLugar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarLugares">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarLugares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarLugaresDisponibles">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarLugaresDisponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarLugaresCiudad">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarLugaresCiudad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMapaLugar">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BuscarMapaLugar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaArea">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/AltaArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarArea">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ModificarArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarArea">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BuscarArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAreaPorNombre">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BuscarAreaPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaPuntodeArea">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/AltaPuntodeArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaArea">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BajaArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAreasDeMapa">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarAreasDeMapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPuntosDeUnArea">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarPuntosDeUnArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaAlquiler">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/AltaAlquiler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaAlquiler">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BajaAlquiler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAlquiler">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BuscarAlquiler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAlquileres">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarAlquileres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAlquileresArea">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarAlquileresArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAlquileresOrganizador">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarAlquileresOrganizador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaMapa">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/AltaMapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarMapa">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ModificarMapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMapa">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BuscarMapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaMapa">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BajaMapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/AltaUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ModificarUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/EliminarUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPais">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BuscarPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCiudad">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BuscarCiudad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCiudades">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarCiudades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPais">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCiudadesPais">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarCiudadesPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/AltaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BuscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAdmin">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDueños">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarDueños" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarOrganizadores">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarOrganizadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarClientes">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaEvento">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/AltaEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarEstadoEvento">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ComprobarEstadoEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaEvento">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BajaEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEvento">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BuscarEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/BuscarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventosOrdenFecha">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarEventosOrdenFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventosOrganizador">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarEventosOrganizador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventosReservados">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarEventosReservados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEventosxArea">
      <soap:operation soapAction="http://tempuri.org/IServicioEvento/ListarEventosxArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioEvento">
    <wsdl:port name="BasicHttpBinding_IServicioEvento" binding="tns:BasicHttpBinding_IServicioEvento">
      <soap:address location="http://localhost:2115/ServicioEvento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>